<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>

<body>

    <h1>Admin Login</h1>

    <form method="POST" action="/admin-login">

        <label>Admin Email:</label>
        <input type="email" name="email" placeholder="Enter admin email">

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your password">

        <br><br>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="/">Back to Home</a>

</body>
</html>s